.personal {
    padding: 4rem 2rem;
    background: #0d0d0d;
  
    .title {
      font-size: 2rem;
      color: white;
      text-align: center;
      margin-bottom: 2.5rem;
    }
  
    .description {
      font-size: 1.2rem;
      color: #aaa;
      text-align: center;
      margin-bottom: 3rem;
    }
    .card-container {
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
      justify-content: center;
    }
  }
  